/*
Theme Name: wedding-theme
Theme URI: http://wordpress.org/
Description: The Custom Theme for Lauren & Jack's Big Day
Author: The Twenty Six
Author URI: http://www.thetwentysix.co.uk
Version: 1.0
@charset "UTF-8";
/* CSS Document */

@import url('plantagenet/stylesheet.css');
@import url('bodoni/stylesheet.css');

/* Font Library

font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-family: 'bodoni_svtytwo_itc_ttbook', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

*/

/* General Styles & Resets */ 
html {
	font-size: 62.5%;	
}

html, body {
	height: 100%;
}
body {
	font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #6d6e70;
	background: #f1f1f2;
	min-height: 100%;
	font-size: 2.2rem;
	line-height: 2.4rem;
}
.number {
	font-family: 'bodoni_svtytwo_itc_ttbook', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;	
}

* { 
	margin:0; 
	padding:0; 
}
ol,ul {
	list-style:none;
}
img {
	border: none;
	max-width: 100%;
	height: auto;
}
.clear {
	clear: both;
}
.col {
	float: left;
}
a {
	text-decoration: none;
	color: #f9b7ac;
}
p {
	padding-bottom: 15px;	
}
h1 {
	font-weight: normal;
	font-size: 4.8rem;
	line-height: 5.2rem;
	padding-bottom: 5.2rem;	
}
h2 {
	text-align: center;	
	padding-bottom: 20px;
	font-weight: normal;
}
.container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
header, section, footer {
	width: 100%;	
}

/* Header Styles */

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;	
}
nav {
	display: block;
	background: #fff;
	text-align: center;
	font-size: 2rem;
	line-height: 10rem;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	color: #a5a7aa;	
	text-transform: capitalize;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	-ms-transition: all 0.5s ease-in-out; 
}
nav.mini-nav {
	line-height: 6rem;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out; 
	-o-transition: all 1s ease-in-out; 
	-ms-transition: all 1s ease-in-out; 	
}
nav a {
	color: #a5a7aa;	
	padding: 10px;
}
nav a:hover {
	color: #fbd0c4;	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	-ms-transition: all 0.5s ease-in-out; 	
}
nav a.nav-active {
	color: #fbd0c4;	
}

/* Title Styles */
#title {
	height: 800px;	
	position: relative;
	overflow: hidden;
}
.title-letter {
	margin: 0 auto;
	padding: 0;
	display: block;	
	width: 100%;
	height: 6000px;
	position: absolute;
}
#mr-m {
	background: url(images/mr/m.png) 50% 0 no-repeat fixed;
	z-index: 50;
}
#mr-r {
	background: url(images/mr/r.png) 50% 0 no-repeat fixed;
	z-index: 40;
}
#mr-and {
	background: url(images/mr/and.png) 50% 0 no-repeat fixed;
	z-index: 60;
}
#mrs-m {
	background: url(images/mrs/m.png) 50% 0 no-repeat fixed;
	z-index: 30; 
}
#mrs-r {
	background: url(images/mrs/r.png) 50% 0 no-repeat fixed;
	z-index: 10;
}
#mrs-s {
	background: url(images/mrs/s.png) 50% 0 no-repeat fixed;	
	z-index: 20;
}
#intro .ribbon {
	text-align: center;		
}
.ribbon {
	background: #fbd0c4;
	padding: 5px 0;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.ribbon-border {
	background: url(images/circle-border.png) top center repeat-x;
	padding: 35px 0 0 0;	
}
.ribbon-bottom {
	background: url(images/circle-border.png) bottom center repeat-x;
	padding: 0 0 35px 0;
}
#intro .ribbon h2 {
	font-size: 4.8rem;
	line-height: 5.2rem;
	font-weight: normal;
	padding-bottom: 0;	
}
div.wpcf7-mail-sent-ok {
	border: none!important;	
}

/* Section Styles */

#story, #day {
	padding: 40px 0 0 0;	
}
#photos {
	padding: 0 0 40px 0;	
}
#rsvp {
	padding: 40px 0;	
}
#party, #venue, #getting-there, #where-to-stay {
	padding: 20px 0;	
}

.content-left, .content-right {
	width: 47%;	
}
.content-left h3, .content-right h3 {
	padding-bottom: 20px;	
	font-weight: normal;
}
.content-left {
	margin-right: 6%;
	text-align: right;	
}
#where-to-stay ul {
	padding-bottom: 15px;	
}
#where-to-stay ul li {
	padding-bottom: 5px;
}

/* Gallery Styles */

.bx-caption {
	text-align: center;
	display: block;	
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.bx-caption span {
	background: #fff;
	padding: 10px;
}
.gallery-box {
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	background: #fff;
	padding: 10px;	
	position: relative;
}
.bx-next, .bx-prev {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	background-image: url(images/arrows.png);
	text-indent: -9999px;
	z-index: 60;
}
.bx-next {
	right: 10px;
	background-position: 60px 0;	
}
.bx-prev {
	left: 10px;
	background-position: 0 0;	
}

/* Timeline Styles */

#story .ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    overflow: hidden;
	background: url(images/timeline-bg.png) top center repeat-y;
	padding-bottom: 40px;
	margin-top: 20px;
}
#story .ss-row{
    width: 100%;
    float: left;
    position: relative;
    padding: 5px 0;
}
#story .ss-row.laps {
	background: url(images/laps-milestone.png) center center no-repeat;	
}
#story .ss-row.jack {
	background: url(images/jack-milestone.png) center center no-repeat;	
}
#story .ss-row.jack-laps {
	background: url(images/dual-milestone.png) center center no-repeat;	
	clear: both;
}
#story .ss-row.jack-laps.blank {
	height: 6px;	
}
#story .ss-row h3 {
	font-weight: normal;
	font-size: 2.4rem;
	line-height: 3rem;	
}
#story .ss-left {
    float: left;
    width: 47%;
    position: relative;
	text-align: right;
    padding-right: 3%;
}
#story .ss-right{
    padding-left: 3%;
	width: 47%;
	float: right;
	position: relative;
}
#story .ss-left h3 {
	color: #fbd0c4;	
}
#story .ss-right h3 {
	color: #a5a7aa;	
}
.content-box {
	padding: 15px;	
}
.content-box p:last-child {
	padding-bottom: 0;	
}
.ss-left .content-box {
	border-radius: 10px;
	border: 2px dashed #fbd0c4;	
	margin-left: 10%;
}
.ss-right .content-box {
	border-radius: 10px;
	border: 2px dashed #a5a7aa;
	margin-right: 10%;	
}

/* Fixes for year scale */

#jack-row-1 {
	margin-top: -85px;	
}

/* Form Styles */

.form-left, .form-right {
	width: 47%;	
}
.form-left {
	margin-right: 6%;	
}
.form-left br, .form-right br {
	display: none;	
}
input[type="text"], input[type="email"] {
	display: block;
	width: 94%;
	padding: 16px 3%;
	border: none;
	border-radius: 0;
	background: #fff;
	font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.8rem;
	line-height: 3rem;
	-webkit-appearance: none;
	margin-bottom: 20px;
	color: #6d6e70;	
}
textarea {
	display: block;
	width: 97%;
	padding: 20px 1.5%;
	border: none;
	border-radius: 0;
	background: #fff;
	font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.8rem;
	line-height: 3rem;
	-webkit-appearance: none;	
	color: #6d6e70;
}
select {
	display: block;
	width: 100%;
	padding: 0 1.5%;
	border: none;
	border-radius: 0;
	background: url(images/drop-down.png) center right no-repeat #fff;
	font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.8rem;
	line-height: 7rem;
	-webkit-appearance: none;
	margin-bottom: 20px;	
	color: #6d6e70;
}
input[type="submit"] {
	float: right;
	display: block;
	background: #fbd0c4;
	border-radius: 10px;
	width: 20%;
	text-align: center;
	padding: 10px;
	border: none;
	-webkit-appearance: none;
	color: #fff;	
	font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.4rem;
	cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:focus {
	background: #fbd0c4;
	opacity: 0.8;	
}
input:focus, textarea:focus {
	background: #fefefe;
}
select:focus {
	background: url(images/drop-down.png) center right no-repeat #fefefe;	
}
::-webkit-input-placeholder {
   	padding-top: 5px;
}
:-moz-placeholder { /* Firefox 18- */
   	padding-top: 5px;
}
::-moz-placeholder {  /* Firefox 19+ */
   	padding-top: 5px;
}
:-ms-input-placeholder {  
	padding-top: 5px;
}
.track-listing .form-left {
	width: 25%;	
}
.track-listing .form-left input {
	padding: 16px 6%;
	width: 88%;	
}
.track-listing .form-right {
	width: 69%;	
}

.track-listing h2 {
	text-align: left;	
}

/* Map Fixes */

.hidden {
	display: none;	
}
.fluid-map {
	position: relative;
    padding-bottom: 50%; /* 16:9 */
    height: 0;
}
.fluid-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
#getting-there .gallery-box  {
	margin-bottom: 20px;	
}
.directions {
	background: #cfd0d2;
	margin-top: -200px;
	padding: 220px 0 40px 0;	
}

/* Itinerary Styles */

#day .ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    overflow: hidden;
	background: url(images/itinerary.png) top left no-repeat;
	padding: 60px 0 40px 0;
}
#day .ss-row{
    width: 100%;
    float: left;
    position: relative;
    padding: 5px 0;
	background: url(images/itinerary-marker.png) top left no-repeat;
}
#day .ss-right{
    padding-left: 3%;
	width: 97%;
	float: right;
	position: relative;
}
#day h3 {
	font-size: 2.2rem;
	line-height: 2.4rem;
	color: #f9b7ac;	
}

/* General Styles */
.venue-left .gallery-box {
	padding: 10px 10px 4px 10px;	
}
.venue-left {
	width: 60%;	
}
.venue-right {
	padding: 10% 0 0 2%;
	width: 38%;	
}

/* Footer Styles */

footer {
	padding: 40px 0;
	text-align: center;
	font-size: 1.4rem;	
}

/* Party Styles */ 

#party .content-left, #party .content-right {
	text-align: center;	
}
.groomsman, .bridesmaid {
	min-height: 33rem;
	position: relative;
}
#george img {
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); /* IE 9 */
	-webkit-transform:rotate(-7deg); /* Safari and Chrome */
}
#chris img {
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
}
#kiri img {
	transform:rotate(4deg);
	-ms-transform:rotate(4deg); /* IE 9 */
	-webkit-transform:rotate(4deg); /* Safari and Chrome */
}
#dave img {
	transform:rotate(-4deg);
	-ms-transform:rotate(-4deg); /* IE 9 */
	-webkit-transform:rotate(-4deg); /* Safari and Chrome */
}
#zoe img {
	transform:rotate(8deg);
	-ms-transform:rotate(8deg); /* IE 9 */
	-webkit-transform:rotate(8deg); /* Safari and Chrome */
}
#morgan img {
	transform:rotate(-8deg);
	-ms-transform:rotate(-8deg); /* IE 9 */
	-webkit-transform:rotate(-8deg); /* Safari and Chrome */
}
#vicky img {
	transform:rotate(-3deg);
	-ms-transform:rotate(-3deg); /* IE 9 */
	-webkit-transform:rotate(-3deg); /* Safari and Chrome */
}
#joel img {
	transform:rotate(3deg);
	-ms-transform:rotate(3deg); /* IE 9 */
	-webkit-transform:rotate(3deg); /* Safari and Chrome */
}
#cash img {
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
}
#kat img {
	transform:rotate(-6deg);
	-ms-transform:rotate(-6deg); /* IE 9 */
	-webkit-transform:rotate(-6deg); /* Safari and Chrome */
}
#laura img {
	transform:rotate(5deg);
	-ms-transform:rotate(5deg); /* IE 9 */
	-webkit-transform:rotate(5deg); /* Safari and Chrome */
}
#ouzo img {
	transform:rotate(-5deg);
	-ms-transform:rotate(-5deg); /* IE 9 */
	-webkit-transform:rotate(-5deg); /* Safari and Chrome */
}

.object, .object2 {
	position: absolute;	
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	max-width: 100px;
}
#george .object {
	background-image: url(images/party/wine.svg);
	right: 23rem;
	width: 30%;
	z-index: 20;
	transform:rotate(10deg);
	-ms-transform:rotate(10deg); /* IE 9 */
	-webkit-transform:rotate(10deg); /* Safari and Chrome */
	top: 21rem;
}
#chris .object {
	background-image: url(images/party/beer.svg);
	left: 21rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: -3rem;
}
#chris .object2 {
	background-image: url(images/party/football.svg);
	left: -8rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 23rem;
}
#kiri .object {
	background-image: url(images/party/stethoscope.svg);
	right: -5rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: -3rem;
}
#kiri .object2 {
	background-image: url(images/party/party.svg);
	right: -8rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 17rem;
}
#dave .object {
	background-image: url(images/party/police.svg);
	left: 19rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: -3rem;
}
#dave .object2 {
	background-image: url(images/party/music2.svg);
	left: 22rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 17rem;
}
#zoe .object {
	background-image: url(images/party/paint.svg);
	right: 25rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 18rem;
}
#morgan .object {
	background-image: url(images/party/bike.svg);
	left: 19rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: -3rem;
}
#morgan .object2 {
	background-image: url(images/party/music1.svg);
	left: -7rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 22rem;
}
#vicky .object {
	background-image: url(images/party/pearls.svg);
	right: 16rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: -3rem;
}
#vicky .object2 {
	background-image: url(images/party/dress.svg);
	right: -7rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 22rem;
}
#joel .object {
	background-image: url(images/party/vodka.svg);
	left: 19rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 20rem;
}
#joel .object2 {
	background-image: url(images/party/weights.svg);
	left: 21rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: -6rem;
}
#kat .object {
	background-image: url(images/party/medal.svg);
	right: 19rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 20rem;
}
#cash .object {
	background-image: url(images/party/beer.svg);
	left: -8rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: -6rem;
}
#cash .object2 {
	background-image: url(images/party/bike.svg);
	left: 21rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 24rem;
}
#laura .object {
	background-image: url(images/party/wine.svg);
	right: -6rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: -6rem;
}
#laura .object2 {
	background-image: url(images/party/music2.svg);
	right: 21rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 19rem;
}
#ouzo .object {
	background-image: url(images/party/football.svg);
	left: -6rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: -6rem;
}
#ouzo .object2 {
	background-image: url(images/party/beer.svg);
	left: 21rem;
	width: 30%;
	z-index: 20;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg); /* IE 9 */
	-webkit-transform:rotate(6deg); /* Safari and Chrome */
	top: 15rem;
}

#party .ss-row{
    width: 100%;
    float: left;
    position: relative;
    padding: 5px 0;
	background: url(images/dual-milestone.png) center center no-repeat;	
}
#party .ss-left {
    float: left;
    width: 47%;
    position: relative;
	text-align: right;
    padding-right: 3%;
}
#party .ss-right{
    padding-left: 3%;
	width: 47%;
	float: right;
	text-align: left;
	position: relative;
}
#party .ss-container{
    width: 100%;
    position: relative;
    overflow: hidden;
	background: url(images/timeline-bg.png) top center repeat-y;
	margin-top: 20px;
}
#party .ss-row.jack-laps {
	background: url(images/dual-milestone.png) center center no-repeat;	
	clear: both;
}
#party .ss-row.jack-laps.blank {
	height: 6px;	
}

#map{
    width: 100%;
    height: 51rem;
}

#booking, #pricing, #content {
	padding: 4rem 0;	
}
#booking, #content {
	text-align: center;	
}
#pricing {
	background: #cfd0d2;	
}
table {
	margin: 0 10%;	
}
td {
	padding: 1rem 0;	
}

/* Responsive Styles */


@media screen and (max-width: 65em){ 
	html {
		font-size: 50%;	
	}
	nav {
		font-size: 1.5rem;
		line-height: 5rem;	
	}
	nav.mini-nav {
		line-height: 5rem;	
	}
	#story .ss-left {
		width: 45%;
		padding-right: 5%;
	}
	#story .ss-right{
		padding-left: 5%;
		width: 45%;
	}
	.title-letter {
		display: none;	
	}
	#title {
		background-image: url(images/title-full.png);
		height: 400px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top center;	
	}
	#story .ss-container, #party .ss-container {
		background: url(images/timeline-bg-small.png) top center repeat-y;
	}
	#story .ss-row.laps {
		background: url(images/laps-milestone-small.png) center center no-repeat;	
	}
	#story .ss-row.jack {
		background: url(images/jack-milestone-small.png) center center no-repeat;	
	}
	#story .ss-row.jack-laps, #party .ss-row, #party .ss-row.blank {
		background: url(images/dual-milestone-small.png) center center no-repeat;	
	}
	.object, .object2 {
		display: none;	
	}
}
@media screen and (max-width: 25em){ 
	header, .bx-caption, .gallery-box#map-box, .bx-next, .bx-prev {
		display: none;	
	}
	#story .ss-container, #story .ss-row.laps, #story .ss-row.jack, #story .ss-row.jack-laps, #party .ss-container, #party .ss-row, #party .ss-row.blank {
		background: none;
	}
	#story .ss-row.laps, #story .ss-row.jack, #story .ss-row.jack-laps {
		clear: both;	
	}
	#story .ss-left, #story .ss-right, #party .ss-left, #party .ss-right {
		width: 90%;
		padding-left: 5%;	
		padding-right: 5%;
	}
	.ss-right .content-box, .ss-left .content-box {
		margin: 5px 0;
		text-align: center;	
	}
	#story .ss-row {
		padding: 0;	
	}
	.venue-left, .venue-right, .content-left, .content-right, .form-left, .form-right, .track-listing .form-right, .track-listing .form-left {
		width: 100%;
		margin: 10px 0;
		padding: 0;	
		text-align: left;
	}
	#getting-there {
		background: #cfd0d2;	
	}
	.directions {
		margin: 0;
		padding: 0;
		background: none;	
	}
	#day .ss-right {
		padding-left: 10%;
		width: 90%;	
	}
	h1 {
		padding-bottom: 3rem;	
	}
	h1, #intro .ribbon h2 {
		font-size: 3rem;
		line-height: 3.2rem;	
	}
	input[type="submit"] {
		width: 100%;
		padding: 10px 0;	
	}
	.track-listing .form-left input {
		padding: 16px 3%;
		width: 94%;	
	}
	
	/* Timeline fixes */ 
	
	#jack-row-1 {
		margin-top: 0;	
	}
}