/*
Theme Name: wedding-theme
Theme URI: http://wordpress.org/
Description: The Custom Theme for Lauren & Jack's Big Day
Author: The Twenty Six
Author URI: http://www.thetwentysix.co.uk
Version: 1.0
@charset "UTF-8";
/* CSS Document */

@import url('plantagenet/stylesheet.css');

/* Font Library

font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

*/

/* General Styles & Resets */ 
html {
	font-size: 62.5%;	
}

html, body {
	height: 100%;
}
body {
	font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #6d6e70;
	background: #f1f1f2;
	min-height: 100%;
	font-size: 2.2rem;
	line-height: 2.4rem;
}

* { 
	margin:0; 
	padding:0; 
}
ol,ul {
	list-style:none;
}
img {
	border: none;
	max-width: 100%;
	height: auto;
}
.clear {
	clear: both;
}
.col {
	float: left;
}
a {
	text-decoration: none;
	color: #f9b7ac;
}
p {
	padding-bottom: 15px;	
}
h1 {
	font-weight: normal;
	font-size: 4.8rem;
	line-height: 5.2rem;
	padding-bottom: 5.2rem;	
}
h2 {
	text-align: center;	
	padding-bottom: 20px;
}
.container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
header, section, footer {
	width: 100%;	
}

/* Header Styles */

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;	
}
nav {
	display: block;
	background: #fff;
	text-align: center;
	font-size: 2rem;
	line-height: 10rem;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	color: #a5a7aa;	
}
nav a {
	color: #a5a7aa;	
	padding: 10px;
}
nav a:hover {
	color: #fbd0c4;	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	-ms-transition: all 0.5s ease-in-out; 	
}

/* Title Styles */
#title {
	height: 800px;	
	position: relative;
	overflow: hidden;
}
.title-letter {
	margin: 0 auto;
	padding: 0;
	display: block;	
	width: 100%;
	height: 6000px;
	position: absolute;
}
#mr-m {
	background: url(images/mr/m.png) 50% 0 no-repeat fixed;
	z-index: 50;
}
#mr-r {
	background: url(images/mr/r.png) 50% 0 no-repeat fixed;
	z-index: 40;
}
#mr-and {
	background: url(images/mr/and.png) 50% 0 no-repeat fixed;
	z-index: 60;
}
#mrs-m {
	background: url(images/mrs/m.png) 50% 0 no-repeat fixed;
	z-index: 30; 
}
#mrs-r {
	background: url(images/mrs/r.png) 50% 0 no-repeat fixed;
	z-index: 10;
}
#mrs-s {
	background: url(images/mrs/s.png) 50% 0 no-repeat fixed;	
	z-index: 20;
}
#intro .ribbon {
	text-align: center;		
}
.ribbon {
	background: #fbd0c4;
	padding: 5px 0;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.ribbon-border {
	border-top: 2px dashed #fff;
	border-bottom: 2px dashed #fff;
	padding: 35px 0;	
}
#intro .ribbon h2 {
	font-size: 4.8rem;
	line-height: 5.2rem;
	font-weight: normal;
	padding-bottom: 0;	
}

/* Section Styles */

#story, #day {
	padding: 40px 0 0 0;	
}
#photos {
	padding: 0 0 40px 0;	
}
#rsvp {
	padding: 40px 0;	
}
#party, #venue, #getting-there, #where-to-stay {
	padding: 20px 0;	
}

.content-left, .content-right {
	width: 47%;	
}
.content-left h3, .content-right h3 {
	padding-bottom: 20px;	
	font-weight: normal;
}
.content-left {
	margin-right: 6%;
	text-align: right;	
}
#where-to-stay ul {
	padding-bottom: 15px;	
}
#where-to-stay ul li {
	padding-bottom: 5px;
}

/* Gallery Styles */

.bx-viewport {
	height: 580px!important;	
}
.bx-caption {
	text-align: center;
	display: block;	
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.bx-caption span {
	background: #fff;
	padding: 10px;
}
.gallery-box {
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	background: #fff;
	padding: 10px;	
	position: relative;
}
.bx-next, .bx-prev {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	background-image: url(images/arrows.png);
	text-indent: -9999px;
	z-index: 60;
}
.bx-next {
	right: 10px;
	background-position: 60px 0;	
}
.bx-prev {
	left: 10px;
	background-position: 0 0;	
}

/* Timeline Styles */

#story .ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    overflow: hidden;
	background: url(images/timeline-bg.png) top center repeat-y;
	padding: 0 0 40px 0;
	margin-top: 20px;
}
#story .ss-row{
    width: 100%;
    float: left;
    position: relative;
    padding: 5px 0;
}
#story .ss-row.laps {
	background: url(images/laps-milestone.png) center center no-repeat;	
}
#story .ss-row.jack {
	background: url(images/jack-milestone.png) center center no-repeat;	
}
#story .ss-row.jack-laps {
	background: url(images/dual-milestone.png) center center no-repeat;	
	clear: both;
}
#story .ss-row.jack-laps.blank {
	height: 6px;	
}
#story .ss-row h3 {
	font-weight: normal;
	font-size: 2.4rem;
	line-height: 3rem;	
}
#story .ss-left {
    float: left;
    width: 47%;
    position: relative;
	text-align: right;
    padding-right: 3%;
}
#story .ss-right{
    padding-left: 3%;
	width: 47%;
	float: right;
	position: relative;
}
#story .ss-left h3 {
	color: #fbd0c4;	
}
#story .ss-right h3 {
	color: #95d5d1;	
}
.content-box {
	padding: 15px;	
}
.content-box p:last-child {
	padding-bottom: 0;	
}
.ss-left .content-box {
	border-radius: 10px;
	border: 2px dashed #fbd0c4;	
	margin-left: 10%;
}
.ss-right .content-box {
	border-radius: 10px;
	border: 2px dashed #95d5d1;
	margin-right: 10%;	
}

/* Fixes for year scale */

#jack-row-1 {
	margin-top: -85px;	
}

/* Form Styles */

.form-left, .form-right {
	width: 47%;	
}
.form-left {
	margin-right: 6%;	
}
.form-left br, .form-right br {
	display: none;	
}
input[type="text"] {
	display: block;
	width: 94%;
	padding: 16px 3%;
	border: none;
	border-radius: 0;
	background: #fff;
	font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.8rem;
	line-height: 3rem;
	-webkit-appearance: none;
	margin-bottom: 20px;
	color: #6d6e70;	
}
textarea {
	display: block;
	width: 97%;
	padding: 20px 1.5%;
	border: none;
	border-radius: 0;
	background: #fff;
	font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.8rem;
	line-height: 3rem;
	-webkit-appearance: none;	
	color: #6d6e70;
}
select {
	display: block;
	width: 100%;
	padding: 0 3%;
	border: none;
	border-radius: 0;
	background: url(images/drop-down.png) center right no-repeat #fff;
	font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.8rem;
	line-height: 7rem;
	-webkit-appearance: none;
	margin-bottom: 20px;	
	color: #6d6e70;
}
input[type="submit"] {
	float: right;
	display: block;
	background: #fbd0c4;
	border-radius: 10px;
	width: 20%;
	text-align: center;
	padding: 10px;
	border: none;
	-webkit-appearance: none;
	color: #fff;	
	font-family: 'plantagenet_cherokeeregular', 'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.4rem;
	cursor: pointer;
}
input[type="submit"]:hover {
	opacity: 0.8;	
}
input:focus, textarea:focus {
	background: #fefefe;
}
select:focus {
	background: url(images/drop-down.png) center right no-repeat #fefefe;	
}
::-webkit-input-placeholder {
   	padding-top: 5px;
}
:-moz-placeholder { /* Firefox 18- */
   	padding-top: 5px;
}
::-moz-placeholder {  /* Firefox 19+ */
   	padding-top: 5px;
}
:-ms-input-placeholder {  
	padding-top: 5px;
}
.track-listing .form-left {
	width: 25%;	
}
.track-listing .form-left input {
	padding: 16px 6%;
	width: 88%;	
}
.track-listing .form-right {
	width: 69%;	
}

.track-listing h2 {
	text-align: left;	
}

/* Map Fixes */

.hidden {
	display: none;	
}
.fluid-map {
	position: relative;
    padding-bottom: 50%; /* 16:9 */
    height: 0;
}
.fluid-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
#getting-there .gallery-box  {
	margin-bottom: 20px;	
}
.directions {
	background: #cfd0d2;
	margin-top: -200px;
	padding: 220px 0 40px 0;	
}

/* Itinerary Styles */

#day .ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    overflow: hidden;
	background: url(images/itinerary.png) top left no-repeat;
	padding: 60px 0 40px 0;
}
#day .ss-row{
    width: 100%;
    float: left;
    position: relative;
    padding: 5px 0;
	background: url(images/itinerary-marker.png) top left no-repeat;
}
#day .ss-right{
    padding-left: 3%;
	width: 97%;
	float: right;
	position: relative;
}
#day h3 {
	font-size: 2.2rem;
	line-height: 2.4rem;
	color: #f9b7ac;	
}

/* General Styles */

.venue-right {
	padding: 10% 0 0 2%;	
}

/* Footer Styles */

footer {
	padding: 40px 0;
	text-align: center;
	font-size: 1.4rem;	
}

/* Responsive Styles */


@media screen and (max-width: 65em){ 
	
}
@media screen and (max-width: 25em){ 

}